<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Micro Blog Streams (Static)</title>
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    <nav class="cluster">
      <h2><a href="{{'index.njk' | inputPathToUrl}}">Home</a></h2>
      <nav class="cluster">
        {% if parentPage %}
        <a href="{{parentPage.path | inputPathToUrl}}">{{parentPage.name}}</a>
        {% endif %}
      </nav>
    </nav>
    {% block main %}
    <main>
    {{ content | safe }}
    </main>
    {% endblock %}
  </body>
</html>