
{% macro postsList(posts) %}
{% if posts|length %}
<ul class="undecorated-list">
    {%- for post in posts | reverse -%}
      <li>
        <article>
          {{post.content | safe}}
          <p><small><a href="{{post.url}}">{{post.data.title}}</a></small></p>
        </article>
      </li>
    {%- endfor -%}
</ul>
{% endif %}

{% if not posts|length %}
<p>There are no posts in the stream yet</p>
{% endif %}
{% endmacro %}