---
layout: base.njk
title: Books
tags: Books

eleventyExcludeFromCollections: ['post', 'Books']

topic: true
---

<h1>Books</h1>


{% if subdirectories|length %}
<ul>
{% for dir in subdirectories %}
  <li>
    <a href="{{ dir.path }}">{{ dir.name }}</a>
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Pages</h2>

<p><a href="{{'future-prospects.md' | inputPathToUrl}}">Potential future reading</a></p>