---
layout: stream.njk
title: Accelerate
parent_topics:
  - Books
date: 2025-09-13

streamName: Accelerate!
postsTag: AccelerateBook

eleventyExcludeFromCollections: ['post', 'AccelerateBook']
---


A classic of Devops practice that popularised the concept of DORA metrics.