---
layout: stream.njk
title: Computer Games


streamName: Computer Games
postsTag: ComputerGames

parentPage:
  name: Games
  path: 'games/index.njk'

eleventyExcludeFromCollections: ['post', 'ComputerGames']

---
