---
layout: base.njk
title: Home
---

<h1>Cooking</h1>


<ul>
{%- for post in collections['Cooking'] -%}
	{%- if post.data.tags.includes('post') -%}
		<li><a href="{{post.url}}">{{ post.data.title }}</a></li>
	{%- endif -%}
{%- endfor -%}
</ul>

