---
layout: stream.njk
title: Food

streamName: Food
postsTag: Food

eleventyExcludeFromCollections: ['post', 'Food']
---


{% if subdirectories|length %}
<ul>
{% for dir in subdirectories %}
  <li>
    <a href="{{ dir.path }}">{{ dir.name }}</a>
  </li>
{% endfor %}
</ul>
{% endif %}
