---
layout: stream.njk
title: Proto | Books
date: 2025-08-09


streamName: Proto
postsTag: Proto

eleventyExcludeFromCollections: ['post', 'Proto']
---

An overview of the Proto-Indian-European language and the current state of research into it.
