:root {
	color-scheme: light dark;
	--font-size: 16px;

	--vampire-black: #080808;
	--cetacean-blue: #000032;
}

@view-transition {
  navigation: auto;
}

body {
	font-family: "Lucida Bright", Garamond, Baskerville, serif;
	max-width: 70ch;
	margin-inline: auto;
	font-size: var(--font-size);
	line-height: 1.5;
	background-color: light-dark(whitesmoke, var(--vampire-black));
	color: light-dark(var(--cetacean-blue), whitesmoke);
}

h1, h2, h3 
{	font-family: Georgia, Palatino, serif;
}

a {
	color: light-dark(steelblue, white);
}

a:visited {
	color: light-dark(darkblue, darkgrey);
}


main {
	p {
		font-size: 1.3rem;
	}
}

.undecorated-list {
	padding-inline-start: 0;
	list-style: none;
}

.cluster {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	gap: 0.25rem;
}

.stack {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nav {
	align-items: flex-start;
	h2 {
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-end: 1.5rem;
	}
}

blockquote {
	font-style: italic;
}

article {
	border: solid;
	border-radius: 0.25rem;

	padding-inline: 0.5rem;
	padding-block-start: 0.5rem;

	h1 {
		font-size: 1.5rem;
		margin-top: 0;
	}

	h2 {
		font-size: 1.25rem;
	}

	h3 {
		font-size: 1rem;
	}

	p {
		font-size: 1rem;
	}
}