
body {
	font-family: "Lucida Bright", Garamond, Baskerville, serif;
	max-width: 70ch;
	margin-inline: auto;
	font-size: 16px;
	line-height: 1.2;
}

h1, h2, h3 {
	font-family: Georgia, Palatino, serif;
}


main {
	p {
		font-size: 1.2rem;
	}
}