---
layout: stream.njk
title: Trade World | Books
date: 2025-08-01

streamName: Trade World
postsTag: TradeWorld

eleventyExcludeFromCollections: ['post', 'TradeWorld']
---


A book examining modern complicated supply changes.