---
layout: stream.njk
title: Girl on Girl | Books
date: 2025-08-01

streamName: Girl on Girl
postsTag: "GirlOnGirl"

eleventyExcludeFromCollections: ['post', 'GirlOnGirl']
---


A collection of essays on feminism and misogyny starting in the 1990s and moving through to the present day. 
