---
layout: base.njk
title: Home
---

<h1>Micro blog streams</h1>

<p>An experiment in creating statically rendered microblogs based on themes and tags.</p>

<h2>Topics</h2>


<ul>
  {% for topic in collections.topics | sort %}
  <li><a href="{{topic.inputPath | inputPathToUrl}}">{{topic.data.title}}</a></li>
  {% endfor %}
</ul>

<h2>Tags</h2>

<h3>By title</h3>

<ol>
  {% set taglist = collections.allTags %}
  {% for tag in taglist | sort %}
    {% if tag !== 'post' and tag !== 'page' %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
</ol>

<h3>By last edit</h3>

<ol>
  {% set taglist = collections.allTags %}
  {% for tag in taglist | reverse %}
    {% if tag !== 'post' and tag !== 'page' %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
</ol>