---
layout: base.njk
title: Home
---

<h1>Micro blog streams</h1>

<h2>Topics</h2>

<ul>
  <li><a href="{{'books/index.njk' | inputPathToUrl}}">Books</a></li>
  <li><a href="{{'cooking/index.njk' | inputPathToUrl}}">Cooking</a></li>
</ul>

<h2>Tags</h2>

<ol>
  {% set taglist = collections.allTags %}
  {% for tag in taglist | reverse %}
    {% if tag !== 'post' and tag !== 'page' %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
</ol>