---
layout: base.njk
title: Home

topics:
  - name: Books
    path: books/index.njk
  - name: Browsers
    path: browsers/index.njk
  - name: Coding
    path: coding/index.njk
  - name: Cooking
    path: cooking/index.njk
  - name: Food
    path: food/index.njk
  - name: Games
    path: games/index.njk
  - name: Music
    path: music/index.njk
---

<h1>Micro blog streams</h1>

<p>An experiment in creating statically rendered microblogs based on themes and tags.</p>

<h2>Topics</h2>

<ul>
  {% for topic in topics %}
  <li><a href="{{topic.path | inputPathToUrl}}">{{topic.name}}</a></li>
  {% endfor %}
</ul>

<h2>Tags</h2>

<ol>
  {% set taglist = collections.allTags %}
  {% for tag in taglist | reverse %}
    {% if tag !== 'post' and tag !== 'page' %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {% endif %}
  {% endfor %}
</ol>