---
layout: base.njk
title: "Not Working | Books"

eleventyExcludeFromCollections: ['post', 'NotWorking']
---

<h1>Not Working</h1>

<ul class="undecorated-list">
{% for post in collections['NotWorking'] | reverse %}
	<li><article>{{post.content | safe}}</article></li>
{% endfor %}
</ul>

<ul>
{%- for post in collections['NotWorking'] | reverse -%}
	<li><a href="{{post.url}}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>


<p>Tags: {{tags}}</p>