---
layout: stream.njk
title: Coding

eleventyExcludeFromCollections: ['post', 'Coding']

postsTag: Coding

topic: true
---

<h1>Coding</h1>


<h2>Sub-topics</h2>

{% if subdirectories|length %}
<ul>
{% for dir in subdirectories %}
  <li>
    <a href="{{ dir.path }}">{{ dir.name }}</a>
  </li>
{% endfor %}
</ul>
{% endif %}

